{% extends "nerudagram.html" %}
{% load static %}

{% block neruda_block %}

<!-- Page content-->
      <div class="container mt-5">
          <div class="row">
              <div class="col-lg-8">
                  <article>
                      <!-- Post header-->
                      <header class="mb-4">
                          <!-- Post title-->
                          <!-- <h1 class="fw-bolder mb-1">{{ poem_details.title|capfirst }}</h1> -->
                          <!-- Post meta content-->
                          <div class="text-muted fst-italic mb-2">Poema generado por Nerudagram</div>
                          <!-- Post categories-->
                          <!-- <a class="badge bg-secondary text-decoration-none link-light" href="#!">Web Design</a>
                          <a class="badge bg-secondary text-decoration-none link-light" href="#!">Freebies</a> -->
                      </header>
                      <!-- Preview image figure-->
                      <!-- <figure class="mb-4"><img class="img-fluid rounded" src="https://dummyimage.com/900x400/ced4da/6c757d.jpg" alt="..." /></figure> -->
                      <!-- Post content-->
                      <section class="mb-5 card bg-light">
                        <div class="card-body">
                          <h2 class="fw-bolder mb-4 mt-5">{{ poem_details.title|capfirst }}</h2>
                          <p class="fs-5 mb-4">{{ poem_details.poem|linebreaksbr }}</p>
                        </div>
                      </section>
                  </article>
              </div>

  <p><a class='btn btn-warning' href="{% url 'nerudagramApp:update' pk=poem_details.pk %}">Editar</a></p>

{% endblock %}
