{% extends "base.html" %}
{% load static %}

{% block body_block %}
<div class="row py-3">
  <div class="col-3">
    <div class="sticky-top">
      <ul class="list-group">
        <li id="nerudagram" class="list-group-item"><a href="{% url 'nerudagramApp:nerudagram' %}">Nerudagrama</a></li>
        <li class="list-group-item"><a href="{% url 'nerudagramApp:como-funciona' %}">Cómo funciona</a></li>
        <li class="list-group-item"><a href="{% url 'nerudagramApp:poemas-creados' %}">Poemas creados</a></li>
        <li class="list-group-item"><a class="btn btn-link" href="https://www.github.com/PdePinguino/n-grams">Código fuente</a></li>
      </ul>
    </div>
  </div>
  <div class="col-9" id="main">
    <div class="text-center">
      <h1>Nerudagram</h1>
      <h2>Crea poemas como un vate</h2>
    </div>

    {%block neruda_block %}
    
    <a href="{% url 'nerudagramApp:create' %}">Crear un poema</a>
    {% endblock %}

  </div>
</div>

<script src="{% static 'js/nerudagram.js' %}"></script>

{% endblock %}
